header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  background-color: #000;
}

header ul {
  list-style: none;
  display: flex;
}
a {
  color: white;
  text-decoration: none;
}
a:link {
  text-decoration: none;
}

a {
  width: 150px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
}
a:hover{
  background: linear-gradient(#dc2424, #4a569d);
  color: #000;

}
.inpt {
  padding: 6px;
    margin-top: 8px;
    margin-left: 15rem;
    font-size: 17px;
    width: 40rem;
    border: none;
    border-bottom: 2px solid black;
}
.image_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.image_container > img {
  max-width: 100%;
  margin: 1rem;
}
.cloud {
  width: 300px;
  height: 300px;
  margin: 10px;
}
.modal_image {
  width: 100%;
  height: 500px;
}